.DashboardHeadingWrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.DashboardHeading {
    text-align: center;
    color: #dddddd;
    font-size: 26px;
    margin: auto;
}

.ActionButtons {
    min-width: 36px !important;
}

.NewCampaign, .NewTemplate, .NewAudience {
    background-color: #dddddd !important;
    margin-right: 10px !important;
    min-width: 200px !important;
}