@import './colorScheme';

.dark {
    .Dashboard {
        width: 100%;
        display: flex;
        background-color: $d_bgcolor;
    }
    .DashboardSidebar {
        flex: 20%;
        height: 100vh;
        min-width: 250px;
    }
    .Menu {
        background-color: #ffffff10;
        border-radius: 5px;
        color: $d_textColor;
        text-align: center;
        padding: 5px;
        margin: 10px;
        &:hover {
            background-color: #ffffff16;
            cursor: pointer;
        }
    }
    .MenuActive {
        background-color: #ffffff24;
        border-radius: 5px;
        color: $d_textColor;
        text-align: center;
        padding: 5px;
        margin: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    .DashboardMain {
        overflow: auto;
        height: 100vh;
        flex: 80%;
        background: rgb(18,18,18);
        background: linear-gradient(175deg, rgba(18,18,18,1) 0%, rgba(20,20,20,1) 100%);
        .DashboardHeadingWrapper {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            .DashboardHeading {
                text-align: center;
                color: #dddddd;
                font-size: 26px;
                margin: auto;
            }
            .HeadingButton {
                background-color: #dddddd !important;
                color: #121212 !important;
                margin-right: 10px !important;
                min-width: 200px !important;
                svg {
                    fill: #121212;
                    margin-right: 5px;
                }
            }
        }
        .DashboardDataTable{
            .ActionButtons {
                min-width: 36px !important;
            }
        }
        .DataTableHolder {
            height: calc(100vh - 80px);
            margin: 10px;
            width: calc(100% - 20px);
            background-color: #ffffff20;
            border-radius: 4px;
            text-align: center;
            
        }
    }
}

.light {
    .Dashboard {
        width: 100%;
        display: flex;
        background-color: $l_bgcolor;
    }
    .DashboardSidebar {
        flex: 20%;
        height: 100vh;
        min-width: 250px;
    }
    .Menu {
        background-color: #ffffff10;
        border-radius: 5px;
        color: $l_textColor;
        text-align: center;
        padding: 5px;
        margin: 10px;
        &:hover {
            background-color: #ffffff16;
            cursor: pointer;
        }
    }
    .MenuActive {
        background-color: #ffffff24;
        border-radius: 5px;
        color: $l_textColor;
        text-align: center;
        padding: 5px;
        margin: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    .DashboardMain {
        overflow: auto;
        height: 100vh;
        flex: 80%;
        background: rgb(221,221,221);
        background: linear-gradient(175deg,rgba(221, 221, 221, 1) 0%, rgba(219, 219, 219, 1) 100%);
        .DashboardHeadingWrapper {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            .DashboardHeading {
                text-align: center;
                color: $l_textColor;
                font-size: 26px;
                margin: auto;
            }
            .HeadingButton {
                background-color: $l_textColor !important;
                color: $l_bgcolor !important;
                margin-right: 10px !important;
                min-width: 200px !important;
                svg {
                    fill: $l_bgcolor;
                    margin-right: 5px;
                }
            }
        }
        .DashboardDataTable{
            .ActionButtons {
                min-width: 36px !important;
            }
        }
        .DataTableHolder {
            height: calc(100vh - 80px);
            margin: 10px;
            width: calc(100% - 20px);
            background-color: #ffffff20;
            border-radius: 4px;
            text-align: center;
            
        }
    }
}