@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
.dark .LoginMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.dark .LoginMain .LoginImageHolder {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background: #121212;
  background: linear-gradient(185deg, #121212 0%, #141414 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark .LoginMain .LoginImageHolder .LoginImage {
  max-width: 80%;
  max-height: 80vh;
}

.dark .LoginMain .LoginBox {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: #121212;
}

.dark .LoginMain .LoginBox .LoginFormWrapper {
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark .LoginMain .LoginBox .LoginFormWrapper .LoginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff06;
  border-radius: 15px;
  width: 100%;
  height: 350px;
}

.dark .LoginMain .LoginBox .LoginFormWrapper .LoginForm .LoginHeader {
  color: #dddddd;
  margin-bottom: 30px;
}

.dark .LoginMain .LoginBox .LoginFormWrapper .LoginForm .LoginInput {
  width: 80%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: none;
  margin-bottom: 20px;
}

.dark .LoginMain .LoginBox .LoginFormWrapper .LoginForm .LoginError {
  background-color: #CF6679;
  width: 80%;
  text-align: center;
  color: #dddddd;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 0;
}

.light .LoginMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.light .LoginMain .LoginImageHolder {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background: #121212;
  background: linear-gradient(185deg, #121212 0%, #141414 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .LoginMain .LoginImageHolder .LoginImage {
  max-width: 80%;
  max-height: 80vh;
}

.light .LoginMain .LoginBox {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: #121212;
}

.light .LoginMain .LoginBox .LoginFormWrapper {
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light .LoginMain .LoginBox .LoginFormWrapper .LoginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff06;
  border-radius: 15px;
  width: 100%;
  height: 350px;
}

.light .LoginMain .LoginBox .LoginFormWrapper .LoginForm .LoginHeader {
  color: #dddddd;
  margin-bottom: 30px;
}

.light .LoginMain .LoginBox .LoginFormWrapper .LoginForm .LoginInput {
  width: 80%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: none;
  margin-bottom: 20px;
}

.light .LoginMain .LoginBox .LoginFormWrapper .LoginForm .LoginError {
  background-color: #CF6679;
  width: 80%;
  text-align: center;
  color: #dddddd;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 0;
}

.dark .Nav {
  height: 60px;
  min-height: 60px;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark .Nav .BrandHolder {
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark .Nav .BrandHolder .Logo {
  height: 35px;
}

.dark .Nav .BrandHolder .LogoText {
  font-weight: 600;
  font-size: 26px;
  color: #dddddd;
}

.dark .Nav .DropDownButton {
  margin-left: auto;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  background-color: #ffffff18;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark .Nav .DropDownButton:hover {
  background-color: #ffffff24;
  cursor: pointer;
}

.dark .Nav .DropDownMenu {
  position: absolute;
  z-index: 30;
  top: 58px;
  right: 20px;
  width: 300px;
  background-color: #121212;
  color: #dddddd;
  padding: 10px;
}

.light .Nav {
  height: 60px;
  min-height: 60px;
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light .Nav .BrandHolder {
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .Nav .BrandHolder .Logo {
  height: 35px;
}

.light .Nav .BrandHolder .LogoText {
  font-weight: 600;
  font-size: 26px;
  color: #121212;
}

.light .Nav .DropDownButton {
  margin-left: auto;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  background-color: #ffffff18;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .Nav .DropDownButton:hover {
  background-color: #ffffff24;
  cursor: pointer;
}

.light .Nav .DropDownMenu {
  position: absolute;
  z-index: 30;
  top: 58px;
  right: 20px;
  width: 300px;
  background-color: #dddddd;
  color: #121212;
  padding: 10px;
}

.dark .LoaderWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.dark .LoaderWrapper .LoaderTitle {
  color: #dddddd;
  font-weight: 500;
  margin-top: 20px;
  text-transform: capitalize;
}

.dark .LoaderWrapper .Loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #dddddd;
  -webkit-animation: Loader 2s infinite ease;
          animation: Loader 2s infinite ease;
}

.dark .LoaderWrapper .LoaderInner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #dddddd;
  -webkit-animation: LoaderInner 2s infinite ease-in;
          animation: LoaderInner 2s infinite ease-in;
}

.light .LoaderWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.light .LoaderWrapper .LoaderTitle {
  color: #121212;
  font-weight: 500;
  margin-top: 20px;
  text-transform: capitalize;
}

.light .LoaderWrapper .Loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #121212;
  -webkit-animation: Loader 2s infinite ease;
          animation: Loader 2s infinite ease;
}

.light .LoaderWrapper .LoaderInner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #121212;
  -webkit-animation: LoaderInner 2s infinite ease-in;
          animation: LoaderInner 2s infinite ease-in;
}

@-webkit-keyframes Loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes LoaderInner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes LoaderInner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.DraggedOut {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.DraggedIn {
  border: dashed #121212 3px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.DragError {
  color: #121212;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  background-color: #CF6679;
}

.dark .Dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121212;
}

.dark .DashboardSidebar {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  height: 100vh;
  min-width: 250px;
}

.dark .Box {
  background-color: #ffffff10;
  border-radius: 5px;
  color: #dddddd;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.dark .Box:hover {
  background-color: #ffffff16;
  cursor: pointer;
}

.dark .BoxActive {
  background-color: #ffffff24;
  border-radius: 5px;
  color: #dddddd;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.dark .BoxActive:hover {
  cursor: pointer;
}

.dark .DashboardMain {
  overflow: auto;
  height: 100vh;
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  background: #121212;
  background: linear-gradient(175deg, #121212 0%, #141414 100%);
}

.dark .DashboardMain .DashboardHeadingWrapper {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.dark .DashboardMain .DashboardHeadingWrapper .DashboardHeading {
  text-align: center;
  color: #dddddd;
  font-size: 26px;
  margin: auto;
}

.dark .DashboardMain .DashboardHeadingWrapper .HeadingButton {
  background-color: #dddddd !important;
  color: #121212 !important;
  margin-right: 10px !important;
  min-width: 200px !important;
}

.dark .DashboardMain .DashboardHeadingWrapper .HeadingButton svg {
  fill: #121212;
  margin-right: 5px;
}

.dark .DashboardMain .DashboardDataTable .ActionButtons {
  min-width: 36px !important;
}

.dark .DashboardMain .DataTableHolder {
  height: calc(100vh - 80px);
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #ffffff20;
  border-radius: 4px;
  text-align: center;
}

.light .Dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dddddd;
}

.light .DashboardSidebar {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  height: 100vh;
  min-width: 250px;
}

.light .Box {
  background-color: #ffffff10;
  border-radius: 5px;
  color: #121212;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.light .Box:hover {
  background-color: #ffffff16;
  cursor: pointer;
}

.light .BoxActive {
  background-color: #ffffff24;
  border-radius: 5px;
  color: #121212;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.light .BoxActive:hover {
  cursor: pointer;
}

.light .DashboardMain {
  overflow: auto;
  height: 100vh;
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  background: #dddddd;
  background: linear-gradient(175deg, #dddddd 0%, #dbdbdb 100%);
}

.light .DashboardMain .DashboardHeadingWrapper {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.light .DashboardMain .DashboardHeadingWrapper .DashboardHeading {
  text-align: center;
  color: #121212;
  font-size: 26px;
  margin: auto;
}

.light .DashboardMain .DashboardHeadingWrapper .HeadingButton {
  background-color: #121212 !important;
  color: #dddddd !important;
  margin-right: 10px !important;
  min-width: 200px !important;
}

.light .DashboardMain .DashboardHeadingWrapper .HeadingButton svg {
  fill: #dddddd;
  margin-right: 5px;
}

.light .DashboardMain .DashboardDataTable .ActionButtons {
  min-width: 36px !important;
}

.light .DashboardMain .DataTableHolder {
  height: calc(100vh - 80px);
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #ffffff20;
  border-radius: 4px;
  text-align: center;
}

.dark .MainHolder {
  background-color: #121212;
  padding: 5px 20px;
  min-height: calc(100vh - 60px);
  min-width: calc(100% - 20px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dark .MainHolder .Paper {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #ffffff16 !important;
}

.dark .MainHolder .Paper .PaperInner {
  color: #dddddd !important;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dark .MainHolder .Paper .PaperInner .PaperInnerHeading {
  margin-bottom: 20px;
  margin-top: 10px;
}

.dark .MainHolder .Paper .Preview {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  padding: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.23);
}

.dark .MainHolder .Paper .Preview #preview_table {
  -webkit-box-shadow: 5px 5px 20px #00000010;
          box-shadow: 5px 5px 20px #00000010;
}

.dark .MainHolder .Paper .ChipHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark .MainHolder .Paper .ChipHolder .ChipRow {
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  width: 100%;
}

.dark .MainHolder .Paper .ChipHolder .ChipRow .MuiChip-root {
  margin: 2px;
}

.dark .MainHolder .Paper .TemplateHolder .MuiInput-input {
  padding: 10px;
}

.dark .MainHolder .Paper .TemplateHolder .MuiInputBase-root {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.dark .MainHolder .Paper .TemplateHolder .MuiInputBase-root::before {
  content: none;
}

.dark .MainHolder .Paper .TemplateHolder .MuiButtonBase-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark .MainHolder .Paper .TemplateHolder .MuiButtonBase-root .MuiButton-root {
  border: 1px solid;
}

.dark .MainHolder .Paper .SaveButtonHolder {
  margin-left: auto;
  margin-top: auto;
}

.light .MainHolder {
  background-color: #dddddd;
  padding: 5px 20px;
  min-height: calc(100vh - 60px);
  min-width: calc(100% - 20px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.light .MainHolder .Paper {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #ffffff16 !important;
}

.light .MainHolder .Paper .PaperInner {
  color: #121212 !important;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light .MainHolder .Paper .PaperInner .PaperInnerHeading {
  margin-bottom: 20px;
  margin-top: 10px;
}

.light .MainHolder .Paper .Preview {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  padding: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.23);
}

.light .MainHolder .Paper .Preview #preview_table {
  -webkit-box-shadow: 5px 5px 20px #00000010;
          box-shadow: 5px 5px 20px #00000010;
}

.light .MainHolder .Paper .ChipHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .MainHolder .Paper .ChipHolder .ChipRow {
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  width: 100%;
}

.light .MainHolder .Paper .ChipHolder .ChipRow .MuiChip-root {
  margin: 2px;
}

.light .MainHolder .Paper .TemplateHolder .MuiInput-input {
  padding: 10px;
}

.light .MainHolder .Paper .TemplateHolder .MuiInputBase-root {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.light .MainHolder .Paper .TemplateHolder .MuiInputBase-root::before {
  content: none;
}

.light .MainHolder .Paper .TemplateHolder .MuiButtonBase-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light .MainHolder .Paper .TemplateHolder .MuiButtonBase-root .MuiButton-root {
  border: 1px solid;
}

.light .MainHolder .Paper .SaveButtonHolder {
  margin-left: auto;
  margin-top: auto;
}

.dark .EditMain {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121212;
}

.dark .EditMain .EditSidebar {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  height: 100vh;
  min-width: 250px;
}

.dark .EditMain .EditSidebar .EditOptions {
  color: #dddddd;
  margin: 0 1%;
}

.dark .EditMain .EditSidebar .EditBlocks {
  margin: 0 1%;
  overflow-y: visible !important;
  height: auto;
}

.dark .EditMain .EditSidebar .EditTableHolder {
  display: block;
  margin: auto;
  margin-top: 1%;
  width: 90%;
}

.dark .EditMain .EditSidebar .EditBox {
  background-color: #ffffff10;
  border-radius: 5px;
  color: #dddddd;
  text-align: center;
  padding: 5px;
  margin: 10px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.dark .EditMain .EditSidebar .EditBox:hover {
  background-color: #ffffff16;
  cursor: pointer;
}

.dark .EditMain .EditSidebar .SidebarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dark .EditMain .EditPreview {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  height: 100vh;
  padding: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 800px;
  background: #121212;
  background: linear-gradient(175deg, #121212 0%, #141414 100%);
}

.dark .EditMain .EditPreview .EditPreviewHolder table tr td:hover {
  border: 1px solid black;
  cursor: pointer;
}

.light .EditMain {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.light .EditMain .EditSidebar {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  height: 100vh;
  min-width: 250px;
  background-color: #dddddd;
}

.light .EditMain .EditSidebar .EditOptions {
  color: #121212;
  margin: 0 1%;
}

.light .EditMain .EditSidebar .EditOptions .HeaderOptionsAlign .AlignButtons:hover {
  background-color: #ffffff16;
}

.light .EditMain .EditSidebar .EditOptions .HeaderOptionsAlign .AlignButtons svg {
  fill: #121212;
}

.light .EditMain .EditSidebar .EditBlocks {
  margin: 0 1%;
  overflow-y: visible !important;
  height: auto;
}

.light .EditMain .EditSidebar .EditTableHolder {
  display: block;
  margin: auto;
  margin-top: 1%;
  width: 90%;
}

.light .EditMain .EditSidebar .EditBox {
  background-color: #ffffff10;
  border-radius: 5px;
  color: #121212;
  text-align: center;
  padding: 5px;
  margin: 10px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.light .EditMain .EditSidebar .EditBox:hover {
  background-color: #ffffff16;
  cursor: pointer;
}

.light .EditMain .EditSidebar .SidebarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.light .EditMain .EditPreview {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  height: 100vh;
  padding: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 800px;
  background: #dddddd;
  background: linear-gradient(175deg, #dddddd 0%, #dbdbdb 100%);
}

.light .EditMain .EditPreview .EditPreviewHolder table tr td:hover {
  border: 1px solid black;
  cursor: pointer;
}

.dark .MuiDataGrid-root {
  color: #dddddd;
  border: none !important;
}

.dark .MuiDataGrid-iconSeparator {
  fill: transparent;
}

.dark .MuiButton-label svg {
  fill: #dddddd;
}

.dark .MuiIconButton-label svg {
  fill: #dddddd;
}

.dark .MuiDataGridFilterForm-root {
  margin-top: 2px;
  background-color: #121212;
  color: #dddddd;
}

.dark .MuiDataGridFilterForm-root .MuiFormLabel-root {
  color: #dddddd;
}

.dark .MuiDataGridFilterForm-root .MuiSelect-root {
  color: #dddddd;
}

.dark .MuiDataGridFilterForm-root option {
  background-color: #121212 !important;
  color: #dddddd;
}

.dark .MuiInputBase-root {
  color: #dddddd;
}

.dark .MuiFormControl-root label {
  color: #dddddd;
}

.dark .MuiPopover-root .MuiPaper-root {
  background-color: #121212;
  margin-top: 40px;
  color: #dddddd;
}

.dark .MuiButton-root {
  color: #dddddd;
}

.dark .MuiTypography-root {
  color: #dddddd;
}

.dark .DraggableModal {
  position: absolute;
  z-index: 9;
  background-color: #353535;
  border: 1px solid #ffffff10;
  text-align: center;
  border-radius: 4px;
  width: 250px;
}

.dark .DraggableModal .DraggableModalHeader {
  padding: 10px;
  z-index: 10;
  background-color: #121212;
  color: #dddddd;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark .DraggableModal .DraggableModalHeader .DraggableModalHeaderHandle {
  cursor: move;
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark .DraggableModal .DraggableModalHeader .DraggableModalHeaderHandle svg {
  fill: #dddddd;
}

.dark .DraggableModal .DraggableModalHeader .DraggableModalHeaderContent {
  text-align: center;
  -webkit-box-flex: 9;
      -ms-flex: 9 0%;
          flex: 9 0%;
}

.dark .DraggableModal .DraggableModalBody {
  padding: 10px;
  z-index: 10;
  background-color: #353535;
  color: #dddddd;
  border-radius: 4px;
}

.light .DraggableModal {
  position: absolute;
  z-index: 9;
  background-color: #dddddd;
  border: 1px solid #00000010;
  text-align: center;
  border-radius: 4px;
  width: 250px;
}

.light .DraggableModal .DraggableModalHeader {
  padding: 10px;
  z-index: 10;
  background-color: #a7a7a7;
  color: #121212;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light .DraggableModal .DraggableModalHeader .DraggableModalHeaderHandle {
  cursor: move;
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light .DraggableModal .DraggableModalHeader .DraggableModalHeaderHandle svg {
  fill: #121212;
}

.light .DraggableModal .DraggableModalHeader .DraggableModalHeaderContent {
  text-align: center;
  -webkit-box-flex: 9;
      -ms-flex: 9 0%;
          flex: 9 0%;
}

.light .DraggableModal .DraggableModalBody {
  padding: 10px;
  z-index: 10;
  background-color: #dddddd;
  color: #121212;
  border-radius: 4px;
}

.light .ModalElementHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #00000016;
  padding: 5px 5px;
}

.light .ModalElementHolder:hover {
  background-color: #00000016;
}

.light .ModalElementHolder .ModalElementTitle {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  text-align: left;
  min-height: 30px;
  font-weight: 200;
  font-style: italic;
}

.light .ModalElementHolder .ModalElementTitle:hover {
  cursor: pointer;
}

.light .ModalElementHolder .ModalElementAction {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .ModalElementHolder .ModalElementAction .ModalElementDelete {
  padding: 3px;
}

.light .ModalElementHolder .ModalElementAction .ModalElementDelete:hover {
  cursor: pointer;
}

.light .ModalElementHolder .ModalElementAction .ModalElementHandle {
  padding: 3px;
}

.light .ModalElementHolder .ModalElementAction .ModalElementHandle:hover {
  cursor: move;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

html {
  height: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 400;
}

li {
  display: block;
  text-align: -webkit-match-parent;
  color: unset;
}

.dark::-webkit-scrollbar {
  width: 15px;
}

.dark::-webkit-scrollbar-track {
  background-color: #121212;
}

.dark::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 4px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

.light::-webkit-scrollbar {
  width: 15px;
}

.light::-webkit-scrollbar-track {
  background-color: #dddddd;
}

.light::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 4px;
}

.light::-webkit-scrollbar-thumb:hover {
  background: #383838;
}
/*# sourceMappingURL=styles.css.map */