.HomeMain{
    width: 100%;
    display: flex;
    background-color: #121212;
}

.HomeSidebar{
    flex: 20%;
    height: 100vh;
    min-width: 250px;
}

.HomeBox {
    background-color: #ffffff10;
    border-radius: 5px;
    color: #dddddd;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.HomeBox:hover {
    background-color: #ffffff16;
    cursor: pointer;
}

.HomeDashboard{
    overflow: auto;
    height: 100vh;
    flex: 80%;
    background: rgb(18,18,18);
    background: linear-gradient(175deg, rgba(18,18,18,1) 0%, rgba(20,20,20,1) 100%);
}